.title-cards{
   margin-top: 50px;
   margin-bottom: 30px;
   padding-right: 6%;
}
.title-cards h2{
    margin-bottom: 8px;
}
.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.card-list::-webkit-scrollbar{
    display: none;
}
/* .card-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #666 #333;
    padding-bottom: 20px;
}

.card-list::-webkit-scrollbar {
    width: 4px;
}

.card-list::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 10px; 
    border: 2px solid #333;
} */


.card-list img{
    width: 340px;
    border-radius: 4px;
    cursor: pointer;
}
/* .card-list .card{
    position: relative;
}*/
.card-list .card p{
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    color: #fff;
}
.card-list .card{
    text-decoration: none;
}

@media (max-width: 768px) {
.card-list img {
    width: 225px;
}
.card-list .card p {
    font-weight: 500;
    font-size: 15px;
}
}