.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero-caption{
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 5%;
}
.caption-img{
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}
.hero-caption p{
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}
.hero-btn{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.hero-btn .btn img{
    width: 25px;
}
.hero-btn .btn{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-btn .btn.dark-btn{
    color: white;
    background: #6d6d6eb3;
}
.hero-btn .btn:hover{
    background: #ffffffbf;
}
.hero-btn .btn.dark-btn:hover{
    background: #6d6d6e66;
}
.more-cards{
    padding-left: 6%;
}
.all_movies{
    padding-top: 5%;
}
/* Media Query for Mobile Screens */
@media (max-width: 768px) {
.hero-caption p {
    max-width: 500px;
    font-size: 14px;
    margin-bottom: 15px;
}
.hero-btn {
    gap: 7px;
    margin-bottom: 7px;
}
.hero-btn .btn {
    padding: 6px 10px;
}
.hero-btn .btn img {
    width: 20px;
}
.all_movies {
    padding-top: 15%;
}
}